<html>

<head>
<link rel="stylesheet" href="/css/main.css">
</head>

<body>

	<div id="header">
		<div id="headline">
			<div
				style="background-color: #00E098; width: 20px; height: 3px; margin: 0% 0% 5% 0%;">&nbsp;</div>

			<table style="width: 100%;">
				<tbody>
					<tr>
						<td><span class="title">Benefit Netsuite calculator</span></td>
					</tr>
					<tr>
						<td>
							<p class="subtitle">Fill out this form in a few steps to know
								the time of implementation of Netsuite in your business</p>
						</td>
					</tr>
				</tbody>
			</table>

			<div
				style="background-color: #00E098; width: 20px; height: 3px; margin: 5% 0% 0% 0%;">&nbsp;</div>
		</div>

		<div id="headlogo">
			<img alt="a_acevedo_verde" data-entity-type="file"
				src="/images/a_acevedo_green.png" class="align-center">
		</div>
	</div>

	<div class="grid-container x-center-content">

		<div class="form-card">
			<form action="/customer/{{customer.id}}/company" method="post">
				<h2 class="fs-title">Company Information</h2>
				<input type="text" name="vatregnumber" placeholder="Vat Reg Number" required /> 
				<input type="text" name="name" placeholder="Company name" required />

				<div style="display: flex;">
					<div style="width: 50%">
						<p>Country:</p>
						<select name="country" required>
							<option value="Australia">Australia</option>
							<option value="Austria">Austria</option>
							<option value="Canada">Canada</option>
							<option value="Chile">Chile</option>
							<option value="China">China</option>
							<option value="Colombia">Colombia</option>
							<option value="Costa Rica">Costa Rica</option>
							<option value="Cuba">Cuba</option>
							<option value="Finland">Finland</option>
							<option value="France">France</option>
							<option value="Germany">Germany</option>
							<option value="India">India</option>
							<option value="Italy">Italy</option>
							<option value="Japan">Japan</option>
							<option value="Romania">Romania</option>
							<option value="Spain">Spain</option>
							<option value="Sweden">Sweden</option>
							<option value="Turkey">Turkey</option>
							<option value="United Kingdom">United Kingdom</option>
							<option value="United States">United States</option>
						</select>
					</div>
					<div style="width: 50%">
						<p>Industry:</p>
						<select name="industry" required>
							<option value="Accounting">Accounting</option>
							<option value="Consumer goods">Consumer goods</option>
							<option value="Food production">Food production</option>
							<option value="Furniture">Furniture</option>
							<option value="Information technology">Information technology</option>
							<option value="Logistic">Logistic</option>
							<option value="Services">Services</option>
							<option value="Telecommunications">Information technology</option>
							<option value="Textile">Textile</option>
						</select>
					</div>
				</div>

				<div style="display: flex; justify-content: center;">
					<a style="background-color:#b7b7b7" class="action-button" href="javascript:history.back()">Previous</a>
					<input type="submit" class="action-button" value="Next" />
				</div>				

			</form>
		</div>

		<div style="margin: 0 auto;">
			<img src="/images/oracle_netsuite_logo.png" alt="oracle logo" class="align-center">
		</div>

	</div>

</body>
</html>